<nav>
  <div class="row">
    <div class="col-lg-4 mt-4" *ngFor="let item of items">
      <div class="item p-3">
        <div class="row">
          <div class="col-lg-6 text-center my-4" style="border-right: 1px solid rgb(228, 228, 228)">
            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-128.png" alt="">
            <a routerLink="/stadistics">
              <h5>{{item.name}}</h5>
            </a>
          </div>
          <div class="col-lg-6">
            <div *ngFor="let subItems of item.listSubItems">
              <a>
                <small class="sub-item" style="font-weight: 550;">{{subItems}}</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>